<!doctype html>
<html lang="en">
  <head>
    <title>Forgot Password | Dashboardkit Dashboard Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Dashboardkit is trending dashboard template made using Bootstrap 5 design framework.">
    <meta name="keywords" content="Bootstrap admin template, Dashboard UI Kit, Dashboard Template, Backend Panel">
    <meta name="author" content="Codedthemes">
    <link rel="icon" href="{{ asset('back1/temp/dashboardkit.io/assets/images/favicon.svg') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('back1/temp/dashboardkit.io/assets/fonts/phosphor/duotone/style.css') }}">
    <link rel="stylesheet" href="{{ asset('back1/temp/dashboardkit.io/assets/fonts/tabler-icons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('back1/temp/dashboardkit.io/assets/fonts/feather.css') }}">
    <link rel="stylesheet" href="{{ asset('back1/temp/dashboardkit.io/assets/fonts/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ asset('back1/temp/dashboardkit.io/assets/fonts/material.css') }}">
    <link rel="stylesheet" href="{{ asset('back1/temp/dashboardkit.io/assets/css/style.css') }}" id="main-style-link">
    <link rel="stylesheet" href="{{ asset('back1/temp/dashboardkit.io/assets/css/style-preset.css') }}">
  </head>
  <body data-pc-preset="preset-1" data-pc-sidebar-theme="dark" data-pc-header-theme="light" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme="light">
    <!-- Pre-loader -->
    <div class="loader-bg">
      <div class="pc-loader">
        <div class="loader-fill"></div>
      </div>
    </div>
    <!-- Main Auth Container -->
    <div class="auth-main v2">
      <div class="bg-overlay bg-dark"></div>
      <div class="auth-wrapper">
        <div class="auth-sidecontent">
          <div class="text-start px-3 px-md-5 pb-3 pb-md-5">
            <img src="{{ asset('back1/temp/dashboardkit.io/assets/images/logo-white.svg') }}" alt="" class="img-fluid">
            <h1 class="text-white my-4">Forgot Password</h1>
            <h4 class="text-white font-weight-normal">Enter your email below and we'll send you a new password.</h4>
          </div>
        </div>
        <div class="auth-form">
          <div class="card mb-0">
            <div class="card-body">
              <div class="auth-content">
                <img src="{{ asset('back1/temp/dashboardkit.io/assets/images/logo-dark.svg') }}" alt="" class="img-fluid mb-4 d-block d-xl-none d-lg-none">
                <h4 class="mb-3 f-w-400">Reset Your Password</h4>

                {# Flash messages as toast alerts #}
                {% for label, messages in app.flashes %}
                  {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  {% endfor %}
                {% endfor %}

                <form method="POST" action="{{ path('forgot_password') }}">
                  <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                  </div>
                  <button type="submit" class="btn btn-primary btn-block mb-4">Send New Password</button>
                </form>
                <p class="mt-4">
                  Remember your password?
                  <a href="{{ path('login') }}" class="f-w-400">Back to Login</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Required Js -->
    <script src="{{ asset('back1/temp/dashboardkit.io/assets/js/plugins/popper.min.js') }}"></script>
    <script src="{{ asset('back1/temp/dashboardkit.io/assets/js/plugins/simplebar.min.js') }}"></script>
    <script src="{{ asset('back1/temp/dashboardkit.io/assets/js/plugins/bootstrap.min.js') }}"></script>
    <script src="{{ asset('back1/temp/dashboardkit.io/assets/js/plugins/i18next.min.js') }}"></script>
    <script src="{{ asset('back1/temp/dashboardkit.io/assets/js/plugins/i18nextHttpBackend.min.js') }}"></script>
    <script src="{{ asset('back1/temp/dashboardkit.io/assets/js/fonts/custom-font.js') }}"></script>
    <script src="{{ asset('back1/temp/dashboardkit.io/assets/js/pcoded.js') }}"></script>
    <script src="{{ asset('back1/temp/dashboardkit.io/assets/js/theme.js') }}"></script>
    <script src="{{ asset('back1/temp/dashboardkit.io/assets/js/multi-lang.js') }}"></script>
    <script src="{{ asset('back1/temp/dashboardkit.io/assets/js/plugins/feather.min.js') }}"></script>
  </body>
</html>
