{% extends "back/base.html.twig" %}

{% block navbar %}
    <div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div style="text-align: center;">
            <h1>Create new Formation</h1>

            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_row(form.titre) }}
                {{ form_row(form.description) }}
                {{ form_row(form.datedebut) }}
                {{ form_row(form.datefin) }}
                {{ form_row(form.nbrplaces) }}
                {{ form_row(form.link) }}

                <!-- Champ pour uploader l'image -->
                 {{ form_row(form.imageFile) }}
                 
                <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}

            <br>
            <a href="{{ app.request.headers.get('referer') ?: path('app_formation_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}