{% extends "back/base.html.twig" %}

{% block body %}
    <div class="container mt-5">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h2>Galerie Details</h2>
            </div>
            <div class="card-body">
                {% if galerie.image %}
                    <div class="mb-3 text-center">
                        <img src="{{ galerie.image }}" alt="Galerie Image" class="img-fluid" style="max-height:300px;">
                    </div>
                {% endif %}
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ galerie.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ galerie.nom }}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-center mt-3 m-4">
                    <a href="{{ path('app_galerie_index') }}" class="btn btn-primary mx-2">Back to List</a>
                    <a href="{{ path('app_galerie_edit', {'id': galerie.id}) }}" class="btn btn-warning">Edit</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
